@model IEnumerable<FirstCoreApp.Models.Restaurant>

@{
    ViewData["Title"] = "Restaurant list";
}

<h2>HomeIndexVM</h2>

<p>
    <a asp-action="Create">Create New Restaurant</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="/Restaurants/Edit" asp-route-Id="@item.Id">Edit using Page</a>
                @Html.ActionLink("Action Link Details", "Details", new { id = item.Id }) |
                 <a href="Home/Details/@item.Id">A Href Details</a> 
                 <a asp-action="Details" asp-route-Id="@item.Id">Asp Details</a>
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
